# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/

# Virtualenv
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# Coverage and testing
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# VSCode debug history
.history/

# Pipenv
Pipfile.lock

venv
